asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
Django
django-widget-tweaks
filelock
fsspec
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
newsapi-python
newsdataapi
numpy
packaging
pillow
PyYAML
regex
requests
safetensors
soupsieve
sqlparse
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
